body {
    margin: 0;
    width: 100%;
    background-color: linear-gradient( hsl(273, 75%, 66%), hsl(240, 73%, 65%));
}
.container {
    width:70%;
    height: 80vh;
    outline: green solid 2px; 
    margin: 3.5em auto;
    
}