body {
    margin: 0;
    width: 100%;
    /* background-color: linear-gradient( 180deg,#af67e9, #6666e8); */
    background-color:linear-gradient(to bottom,#af67e9, #6666e8);
}
.container {
    width:70%;
    height: 80vh;
    outline: green solid 2px; 
    margin: 3.5em auto;
    
}